html, body {
  height: 100%;
  width: 100%;

    background-image: url("https://ingyen-hatterkep.hu/hatterkepek_nagyfelbontasu/oszi-taj-faleveles-ut-hatterkep-44410.jpg");
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-blok;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

